@font-face {
    font-family: antique;
    src: url("assets/fonts/Antique\ Olive\ Bold.ttf");
}

@font-face {
    font-family: matter;
    src: url("assets/fonts/Matter-Regular.ttf");
}

@font-face {
    font-family: matter bold;
    src: url("assets/fonts/Matter-Bold.ttf");
}

@font-face {
    font-family: matter medium;
    src: url("assets/fonts/Matter-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: matter;
    background-color: #1D1D1F;
    overflow-x: hidden;
}

#loader {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #1D1D1F;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 1000000;
    overflow: hidden;

}

#loader>h3 {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #A374FF;
    font-family: antique;
    font-weight: 500;

}

.loader-owl {
    color: #A374FF;
    transform: scale(0.6);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;

}

.loader-owl svg {
    width: 4.25rem;
    height: 3rem;
}

.loader-owl path,
.loader-owl g {
    transform-origin: center;
    transform-box: fill-box;
    transform: translate(0rem, 0rem) rotate(0deg);
}

.loader-owl path {
    animation: blink 2s infinite;
}

@keyframes blink {
    90% {
        transform: none;
        animation-timing-function: ease-in;
    }

    93% {
        transform: translateY(15px) scaleY(0);
    }

    100% {
        animation-timing-function: ease-out;
    }
}





#main {
    position: relative;
}

#overlay {
    position: relative;
}

.moving-circle {
    pointer-events: none;
    opacity: .85;
    position: fixed;
    top: 0px;
    right: 0px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.moving-circle div:nth-child(1) {
    top: calc(50% - 15rem);
    left: calc(50% - 15rem);
}

.moving-circle div {
    z-index: -1;
    width: 20rem;
    height: 20rem;
    z-index: 999999;
    position: fixed;
}

.colorOne {
    background-image: -webkit-radial-gradient(50% 50%, circle contain, rgb(11, 247, 255), rgba(255, 135, 60, 0) 100%);
    animation: 5s linear 0s infinite normal none running colorOne;
}

@keyframes colorOne {
    0% {
        transform: translate(-40px);
    }

    50% {
        transform: rotate(-180deg) translate(0px) rotate(-180deg) scaleY(1.33);
    }

    100% {
        transform: rotate(-360deg) translate(-20px) rotate(-360deg) scale(1);

    }
}

.moving-circle div:nth-child(2) {
    top: calc(37% - 18rem);
    left: calc(35% - 20rem);
}

.moving-circle div {
    z-index: -1;
    width: 20rem;
    height: 20rem;
    position: fixed;
}

.colorTwo {
    background-image: -webkit-radial-gradient(50% 50%, circle contain, rgb(122, 201, 235), rgba(199, 0, 59, 0) 100%);
    animation: 4s linear 0s infinite normal none running colorTwo;
}

@keyframes colorTwo {
    0% {
        transform: translate(30px);
    }

    33% {
        transform: rotate(180deg) translate(30px) rotate(-180deg) scaleX(1.66);
    }

    100% {
        transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1);
    }
}

.moving-circle div:nth-child(3) {
    top: calc(68% - 22rem);
    left: calc(45% - 22rem);
}

.moving-circle div {
    z-index: -1;
    width: 20rem;
    height: 20rem;
    position: fixed;
}

.colorThree {
    background-image: -webkit-radial-gradient(50% 50%, circle contain, rgb(246, 140, 246), rgba(144, 12, 62, 0) 100%);
    animation: 6s linear 0s infinite normal none running colorThree;
}

@keyframes colorThree {
    0% {
        opacity: 1;
        transform: translate(30px);
    }

    66% {
        opacity: 0.33;
        transform: rotate(180deg) translate(30px) rotate(-180deg) scaleY(1.33);
    }

    100% {
        opacity: 1;
        transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1);
    }
}


.nav {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 999999;

}

.nav .logo {
    letter-spacing: -.2vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 999;

}

.logo-txt {
    font-size: 2.2vw;
    font-family: antique;
    color: #17F1D1;

}

.logo-owl {
    color: #17F1D1;
    transform: scale(0.6);
    display: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.logo-owl svg {
    width: 4.25rem;
    height: 3rem;
}

.logo-owl path,
.logo-owl g {
    transform-origin: center;
    transform-box: fill-box;
    transform: translate(0rem, 0rem) rotate(0deg);
}

.logo-owl path {
    animation: blink 2s infinite;
}

@keyframes blink {
    90% {
        transform: none;
        animation-timing-function: ease-in;
    }

    93% {
        transform: translateY(15px) scaleY(0);
    }

    100% {
        animation-timing-function: ease-out;
    }
}



.nav .button-menu {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.button-outlined {
    background-color: transparent;
    border: 1px solid #A374FF;
    padding: 1vw 2vw;
    border-radius: 5vw;
    color: #fff;
    position: relative;
    z-index: 999;
    cursor: pointer;
    text-decoration: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}

.button-inner {
    position: relative;
    width: 100%;

}

.button-inner-static {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;


}

.button-inner-static p {
    position: relative;
    /* left: 0; */
    bottom: 0vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 9999;

}

.button-inner-hover {
    position: absolute;
    overflow: hidden;
    height: 3vh;
    width: 100%;
    left: 0;
    bottom: 0vh;

}

.button-inner-hover p {
    position: absolute;
    left: 0;
    bottom: -3vh;
    width: 100%;
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 9999;

}


.nav-cta:hover .button-inner-static p {
    bottom: 3vh;

}

.nav-cta:hover .button-inner-hover p {
    bottom: 0.6vh;
    opacity: 1;


}


.menu {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    z-index: 9999;
    cursor: pointer;
}

#menu {
    position: relative;
    height: 3.5vw;
    width: 3.5vw;
    display: inline-block;
    flex-direction: column;
    cursor: pointer;
    background-color: #A374FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    overflow: hidden;

}

#line1 {
    position: relative;
    height: 0.3vh;
    width: 1.6vw;
    background-color: #D5CDC4;
    margin: 6px 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 999;
}

#line2 {
    position: relative;
    height: 0.3vh;
    width: 1.6vw;
    background-color: #D5CDC4;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 999;

}


.anim-circle {
    position: absolute;
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 50%;
    transform: scale(.4);
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#an-cir1 {
    background-color: #f4fe6f;
    opacity: 0;
}

#an-cir2 {
    position: absolute;
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 50%;
    transform: scale(.4);
    background-color: #A374FF;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

}

.menu:hover #an-cir1 {
    animation: multiColor 1s linear both;
}

.menu:hover #an-cir2 {
    animation: multiColor 1s .1s linear both;
}

@keyframes multiColor {
    0% {
        transform: scale(.4);
        opacity: 1;

    }

    50% {
        transform: scale(10);

    }

    100% {
        transform: scale(.4);
        opacity: 0;

    }

}



#fullscreen-nav {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #fdfbf8;
    transform: translateY(-100%);
    z-index: 9;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    overflow: hidden;
}

#offering {
    position: relative;
    left: 50vw;
    top: 20vh;
    height: auto;
    width: 40vw;
    font-family: antique;
    font-size: 7vw;
    letter-spacing: -5px;

}

#offering h4 {
    line-height: 12vh;
    position: relative;

}

#offering h4 span {
    position: relative;
}

#offering h4 span:nth-child(even) {
    z-index: 99999;
}



.cross-line {
    position: absolute;
    height: 1.5vh;
    top: 50%;
    width: 00%;
    left: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}


#offering h4:nth-child(1) {
    width: 47%;
}

#offering h4:nth-child(1)::after {
    content: "40";
    position: absolute;
    display: inline-block;
    height: 2vw;
    width: 2vw;
    background-color: #c0bfbf;
    border-radius: 50%;
    top: 20%;
    right: -20%;
    letter-spacing: .4px;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#offering h4:nth-child(2) {
    width: 73%;
}

#offering h4:nth-child(3) {
    width: 72%;
}

#offering h4:nth-child(4) {
    width: 68%;
}

#offering h4:nth-child(4)::after {
    content: "2";
    position: absolute;
    display: inline-block;
    height: 2vw;
    width: 2vw;
    background-color: #f4fe6f;
    border-radius: 50%;
    top: 20%;
    right: -10%;
    letter-spacing: .4px;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#offering h4:nth-child(5) {
    width: 68%;
}




@keyframes lineAnim {
    0% {
        background-color: #f4fe6f;
    }

    50% {
        background-color: #A374FF;
    }

    100% {
        background-color: #A374FF;
    }
}

@keyframes lineAnimBack {
    0% {
        background-color: #A374FF;
    }

    50% {
        background-color: #f4fe6f;
    }

    100% {
        background-color: #f4fe6f;
    }
}

.nav-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    position: relative;
    left: 5vw;
    width: 22vw;
}

.nav-contacts h5 {
    color: #A374FF;
    text-transform: uppercase;
    font-size: .9vw;
}

.nav-contacts a {
    text-decoration: none;
    color: #111;
    font-size: 2.5vw;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}

.nav-contacts a span {
    color: #A374FF;
}

.nav-contacts a .line1 {
    display: inline-block;
    height: .5px;
    width: 0%;
    background-color: #17F1D1;
    bottom: 0;
    left: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    position: absolute;
}

.nav-contacts a:hover .line1 {
    width: 100%;
}

#page1 {
    position: relative;
    width: 100vw;
    height: 90vh;
}

.video {
    height: 70vh;
    width: 40vw;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;


}

.video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    transform-origin: 50% 50%;
    object-position: center;
    perspective: 1000px;
    transform-style: preserve-3d;
}


.main-text {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-family: antique;
    font-size: 4vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
    line-height: 8vw;
    color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.main-text #m-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-text span h1 {
    letter-spacing: -.5vw;
}

.main-text span:nth-child(3) {
    align-self: flex-end;
}

.main-text span:nth-child(2) {
    position: relative;
    left: -8vw;
}

.main-text span button {
    background-color: #FFD074;
    border: none;
    border-radius: 5vw;
    padding: 1vw 2vw;
    font-family: matter bold;
    position: relative;
    overflow: hidden;

}

.hovered {
    width: 15vw;
}

.hovered p {
    position: absolute;
    width: 15vw;
    transform: translateX(-5.7vw);
}


.left-arrow {
    position: absolute;
    bottom: -10%;
    left: -5%;
    border-radius: 45%;
}

.left-arrow .arrow-circle {
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    border: 1.3px solid #A374FF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.arrow {
    position: relative;
    overflow: hidden;
    height: 6vh !important;
    width: 3vw !important;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}

#arrow-initial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 3.5vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#arrow-after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -3vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}

#page2 {
    position: relative;
    height: 60vh;
    width: 100vw;
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10vw;
    width: 60%;
    align-items: flex-start;
}

.sel-wrk {
    font-size: 1vw;
    color: #A374FF;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main-txt {
    color: #fff;
    font-size: 2.7vw;
    letter-spacing: -1px;
}

#col1 {
    color: #A374FF;
}

#col2 {
    color: #D6D6D2;
}

#col3 {
    color: #DFB679;
}

#page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding-top: 30vh;
}


.drag-cursor {
    height: 7vw;
    width: 7vw;
    background-color: #A374FF;
    position: absolute;
    z-index: 999999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    opacity: 0;

}

.drag-cursor span {
    font-size: 1vw;
    color: #fff;
    text-align: center;
}

.swiper {
    height: 50vh;
    width: 100vw;
    overflow: visible;
    transform: skewY(6deg) !important;
    transform: rotateZ(6deg) !important;
}

.swiper-wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    gap: 5vw;


}

.swiper-slide {
    height: 90vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center;
    perspective: 10000px;

}

.swiper-slide img {
    height: 55vh;
    width: 35vw;
    border-radius: 30px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    transform-origin: center;
    perspective: 10000px;
}

.image {
    height: 55vh;
    width: 35vw;
    border-radius: 30px;
    object-position: center;
    object-fit: cover;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    overflow: hidden;
    transform-origin: center;
    perspective: 10000px;
}

.zoomed {
    height: 55vh;
    width: 35vw;
    border-radius: 30px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;

}

.texts {
    padding: 1vh 5vw;
    position: relative;
    top: -15vh;
    transform: skewY(-7deg);
    transform: rotateZ(-7deg);
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 38vw;

}

.texts p {
    font-size: 2vw;
    font-weight: 400;
    color: #fff;
    letter-spacing: -1px;
    width: 100%;

}

.texts h3 {
    font-size: 3vw;
    color: #fff;
    font-family: antique;
    letter-spacing: -3px;

}

.texts span {
    font-size: 1vw;
    text-transform: uppercase;
    mix-blend-mode: difference;


}

#disc-btn {
    background-color: transparent;
    border: 1px solid #A374FF;
    padding: 1vw 2vw;
    color: #fff;
    font-size: 1.1vw;
    font-weight: 700;
    border-radius: 30px;
    position: absolute;
    left: 10%;
    bottom: 20%;
    z-index: 999;
    cursor: pointer;
}

#page4 {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
}

.hovered-disc p {
    transform: translateX(-0.5vw);
}

.top {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9vw;
}

.middle {
    display: flex;
    align-items: center;
    gap: 10vw;
}

.part1,
.part2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5vh;

}

.part1 h4 {
    color: #17F1D1;
    text-transform: uppercase;
    font-size: .9vw;
}

.part2 h4 {
    color: #A374FF;
    text-transform: uppercase;
    font-size: .9vw;
}

.part1 p,
.part2 p {
    color: #fff;
    font-size: 2.4vw;
}

.part1 a,
.part2 a {
    position: relative;
    color: #fff;
    font-size: 1.3vw;
    text-decoration: none;
}

.part1 a .line1,
.part2 a .line1 {
    display: inline-block;
    height: 2px;
    width: 0%;
    background-color: #17F1D1;
    position: absolute;
    bottom: -30%;
    left: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    transition-delay: .1s;
}

.part1 a .line2,
.part2 a .line2 {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #17F1D1;
    position: absolute;
    bottom: -30%;
    right: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}

.part2 a .line2 {
    background-color: #A374FF !important;
}

.part2 a .line1 {
    background-color: #A374FF !important;
}

.part1 a:hover .line1 {
    width: 100%;
}

.part1 a:hover .line2 {
    width: 0%;
}

.part2 a:hover .line1 {
    width: 100%;
}

.part2 a:hover .line2 {
    width: 0%;
}

.reveal-image {
    position: absolute;
    height: 12vw;
    width: 9vw;
    border-radius: 15px;
    opacity: 0;
    transform: rotate(-20deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.reveal-image img {
    height: 12vw;
    width: 9vw;
    object-position: center;
    object-fit: cover;
    border-radius: 15px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;


}

#insight-btn {
    background-color: transparent;
    border: 1px solid #A374FF;
    padding: 1vw 2vw;
    color: #fff;
    font-size: 1.1vw;
    font-weight: 700;
    border-radius: 30px;
}

.hovered-insight p {
    transform: translateX(-1.4vw);
}

#page5 {
    height: 80vh;
    width: 100vw;
    position: relative;
    margin-top: -10vh;

}

.title-lg {
    font-family: antique;
    color: #fff;
    letter-spacing: -7px;
    font-size: 3.3125rem;
    text-transform: lowercase;
    line-height: .90566;
}

.title-lg span {
    display: block;
    font-size: 9vw;

}

.main-text2 {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-family: antique;
    font-size: 4vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
    line-height: 8vw;
    color: #fff;
}

.main-text2 #m-txt {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hovered-mtxt p {
    transform: translateX(-2.5vw);
}

.main-text2 span h1 {
    letter-spacing: -.5vw;
}

.main-text2 span:nth-child(3) {
    align-self: flex-end;
}

.main-text2 span:nth-child(2) {
    position: relative;
    left: -8vw;
}

.main-text2 span:nth-child(3) {
    position: relative;
    left: -15vw;
}

.main-text2 span button {
    background-color: #FFD074;
    border: none;
    border-radius: 5vw;
    padding: 1vw 2vw;
    font-family: matter bold;
}

footer {
    height: 90vh;
    width: 100vw;
    position: relative;
}

footer .footer-cover-parallax {
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.parallax-circle {
    height: 30vw;
    width: 100vw;
    background-color: #A374FF;
    border-radius: 50%;
    transform: scale(2);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 5vh;
}

.footer-top {
    display: flex;
    align-items: center;
    gap: 5vw;
    top: -5vh;
    position: relative;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

.newsletter h5 {
    font-size: .4vw;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.newsletter p {
    color: #111;
    font-size: 2vw;
    font-family: antique;
    letter-spacing: -2px;
    line-height: 3.5vh;
}

.newsletter .input {
    display: flex;
    align-items: center;
    gap: 2vw;
}



.newsletter .input input {
    background-color: transparent;
    border: none;
    border-bottom: .3px solid #111;
    font-size: .6vw;
    text-transform: capitalize;
    padding-bottom: 6px;
}

.newsletter .input input:focus {
    border: none;
    outline: none;
    border-bottom: .3px solid #fff;

}

.newsletter .input span {
    height: 2vw;
    width: 2vw;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter .input span i {
    color: #111;
    font-size: .9vw;
    z-index: 9999;

}

.owl {
    height: 10vw;
    width: 10vw;
    object-fit: cover;
    object-position: center;
    perspective: 80000px;
    transform-origin: center;

}

.owl img {
    height: 10vw;
    width: 10vw;
    transform-origin: center;
    perspective: 10000px;

}

.owl img {
    transform: rotate3d(0, 0, 0, 60deg);
}

.eyes {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;

}

.eye {
    width: 1.796875vw;
    height: 2.34375vw;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

#left-eye {
    top: .5px;
    position: relative;
    left: -8.5px;
}

#right-eye {
    top: .5px;
    position: relative;
    right: -8.5px;
}

.ball {
    width: 1.015625vw;
    height: 1.328125vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(17, 17, 17, 0.678);
    border: 3px solid #a274ffb6;
}

.ball::after {
    content: "";
    display: inline-block;
    position: relative;
    height: 0.390625vw;
    width: 0.390625vw;
    border-radius: 50%;
    background-color: #fff;
    top: -130%;
    left: 30%;
}


.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4vh;
    position: relative;
    top: -1.1vh;
}

.contacts h5 {
    font-size: .4vw;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contacts a {
    text-decoration: none;
    color: #111;
    font-size: 1.2vw;
    font-weight: 550;
    position: relative;
}

.contacts a span {
    color: #fff;
}

.contacts a .line1 {
    display: inline-block;
    height: .5px;
    width: 0%;
    background-color: #17F1D1;
    bottom: 0;
    left: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    position: absolute;
}

.contacts a:hover .line1 {
    width: 100%;
}

.footer-bottom a {
    text-decoration: none;
    color: #111;
    text-transform: uppercase;
}

.footer-bottom {
    display: flex;
    align-items: center;
    font-size: .4vw;
    letter-spacing: .3px;
    font-weight: 600;
    gap: 3vw;
    margin-bottom: 5vh;
    border-top: .1px solid rgba(70, 69, 69, 0.377);
    padding-top: 3vh;
    height: 5vh;
}


.footer-links,
.footer-socials,
.footer-language {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.social-links{
    display: flex;
    align-items: center;
    gap: 0.4vw;
}

.footer-links a {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.footer-links a:hover {
    color: #fff;
}

.footer-language {
    color: #fff !important;
}

.active {
    color: #111;
}


.footer-socials p {
    text-transform: uppercase;
    color: #111;
}

.footer-socials a {
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1vw;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
}

.footer-socials a i {
    color: #fff;
    font-size: .6vw;
    font-weight: 200;
    z-index: 9999;

}

.footer-socials a:hover {

    background-color: #FFD074;

    transform: scale(1);

}


/* Responsive Part */


@media only screen and (max-width: 500px) {


    #loader>h3 {
        font-size: 10vw;
    }

    #main {
        position: absolute;
    }


    #overlay {
        position: absolute;
    }

    .moving-circle {
        display: none;
    }

    .nav {
        padding: 4vh 8vw;
        position: fixed;
        border-bottom: 1px solid #17F1D1;
        background-color: #1D1D1F;
    }

    .nav .logo {
        letter-spacing: -0.7vw;
    }

    .nav .button-menu {
        gap: 3vw;
    }

    .logo-txt {
        font-size: 7vw;

    }

    .button-outlined {
        padding: 1vw 4vw;
    }

    #menu {
        height: 9vw;
        width: 9vw;
    }

    #line1 {
        width: 4.5vw;
    }

    #line2 {
        width: 4.5vw;
    }

    #page1 {
        margin-top: 15vh;
    }

    .video {
        width: 90vw;
    }

    .main-text,
    .main-text2 {
        align-items: center;
        font-size: 7vw;
        line-height: 14vw;
        padding-right: 10vw;
    }

    .main-text2 {
        width: 90vw;
    }

    .main-text span h1,
    .main-text2 span h1 {
        letter-spacing: -1vw;
    }

    .main-text #m-btn,
    .main-text2 #m-btn {
        display: initial;
    }

    .main-text span:nth-child(2),
    .main-text2 span:nth-child(2) {
        left: initial;
    }

    .main-text span:nth-child(3),
    .main-text2 span:nth-child(3) {
        align-self: auto;
        left: initial;
    }

    .responsive-btn {
        position: absolute !important;
        top: 20vh;
        font-size: 3vw;
        left: 5vh;
    }

    .main-text span button,
    .main-text2 span button {
        padding: 2vw 4vw;
    }

    .mt2-btn {
        width: 40vw;
        align-self: center;
        left: 19vw;
    }


    .left-arrow {
        display: none;
    }

    #page2 {
        height: 40vh;
    }

    .text-content {
        width: initial;
        padding: 0 5vw;
        gap: initial;
    }

    .sel-wrk {
        font-size: 3vw;
    }

    .main-txt {
        font-size: 6vw;
        width: 60vw;
    }

    #page3 {
        overflow: hidden;
    }

    .drag-cursor {
        display: none;
    }

    .swiper {
        height: initial;

    }

    .swiper-wrapper {
        height: initial;

    }

    .swiper-slide {
        height: 57vh;
    }

    .image {
        height: 35vh;
        border-radius: 15px;
    }

    .swiper-slide img {
        height: 35vh;
        border-radius: 15px;

    }

    .texts {
        top: initial;
    }

    .texts p {
        font-size: 3vw;
    }

    .texts h3 {
        font-size: 3.7vw;
        letter-spacing: -.5px;
    }

    .texts span {
        font-size: 2vw;
    }

    #disc-btn {
        font-size: 3.5vw;
        padding: 2vw 6vw;
    }

    .top {
        font-size: 5vw;
    }

    .middle {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .part1 h4,
    .part2 h4 {
        font-size: 2.4vw;
    }

    .part1 p,
    .part2 p {
        font-size: 5vw;
    }

    .part1 a,
    .part2 a {
        font-size: 3.3vw;
    }

    .reveal-image {
        display: none;
    }

    #insight-btn {
        font-size: 3.5vw;
        padding: 2vw 6vw;
    }

    .owl {
        display: none;
    }

    .parallax-circle {
        height: 100vh;
    }

    footer .footer-cover-parallax {
        height: 100vh;
    }

    .footer-content {
        gap: initial;
    }

    .footer-top {
        flex-direction: column;
        gap: initial;
        left: -5vw;
        justify-content: center;
        align-items: center;
    }

    .newsletter {
        gap: initial;
    }

    .newsletter h5 {
        font-size: 1.5vw;
    }

    .newsletter p {
        font-size: 6vw;
        line-height: initial;
    }

    .newsletter .input {
        padding: 5vw 1vw;

    }

    .newsletter .input input {
        font-size: 1.6vw;
    }

    .newsletter .input span {
        height: 3vw;
        width: 3vw;
    }

    .newsletter .input span i {
        font-size: 1.5vw;
    }

    .contacts {
        top: initial;
        left: -1.5vw;
    }

    .contacts h5 {
        font-size: 1.3vw;
    }

    .contacts a {
        font-size: 3vw;
    }

    .footer-bottom {
        flex-direction: column;
        padding-top: initial;
        border-top: none !important;
    }


    .footer-links {
        display: grid;
        grid-template-columns: auto auto;
        width: 40vw;
        align-items: center;
        position: relative;
        top: 8vh;
    }

    .footer-links a {
        align-content: center;
        font-size: 1.5vw;
        align-self: center;
        text-align: center;
    }

    .footer-socials {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: -5vh;
        border-top: 1px solid rgb(69, 68, 68);
        width: 40vw;
        padding-top: 4vw;
    }

    .footer-socials p {
        font-size: 1.6vw;
    }

    .social-links {
        display: flex;
        align-items: center;
        gap: 2vw;
    }

    .footer-socials a {
        height: 3vw;
        width: 3vw;
    }

    .footer-socials a i {
        font-size: 2vw;
    }

    .footer-language {
        display: flex;
        align-items: center;
        margin-top: 2vh;
        gap: 5vw;
    }

    .footer-bottom a {
        font-size: 1.5vw;
    }


}